### Intro

In [2]:
print("Hello World!")

Hello World!

### Get Started

In [ ]:
print("Hello, World!")

In [3]:
import sys

print(sys.version)

3.13.2 (tags/v3.13.2:4f8bb39, Feb  4 2025, 15:23:48) [MSC v.1942 64 bit (AMD64)]

### Syntax

In [23]:
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!

In [ ]:
if 5 > 2:
    print("Five is greater than two!")
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [ ]:
x = 5
y = "Hello, World!"
# This is a comment.
print("Hello, World!")

Hello, World!

### Comments

In [ ]:
# This is a comment.
print("Hello, World!")

Hello, World!

In [ ]:
print("Hello, World!")  # This is a comment

In [ ]:
# print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

In [ ]:
# This is a comment
# written in
# more than just one line
print("Hello, World!")

Hello, World!

In [ ]:
"""
This is a comment
written in
more than just one line
"""

print("Hello World!")

Hello World!

### Variables

In [7]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [ ]:
x = 4  # x is of type int
x = "Sally"  # x is now of type str
print(x)

Sally

In [ ]:
x = str(3)  # x will be '3'
y = int(3)  # y will be 3
z = float(3)  # z will be 3.0

In [9]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [ ]:
x = "John"
# is the same as
x = "John"

In [ ]:
a = 4
A = "Sally"
# A will not overwrite a

In [13]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [14]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [15]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [16]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [17]:
x = "Python is awesome"
print(x)

Python is awesome

In [20]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [21]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [19]:
x = 5
y = 10
print(x + y)

15

In [22]:
x = 5
y = "John"
print(x, y)

5 John

In [ ]:
x = "awesome"


def myfunc():
    print("Python is " + x)


myfunc()

Python is awesome

In [ ]:
x = "awesome"


def myfunc():
    x = "fantastic"
    print("Python is " + x)


myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [ ]:
def myfunc():
    global x
    x = "fantastic"


myfunc()

print("Python is " + x)

Python is fantastic

In [ ]:
x = "awesome"


def myfunc():
    global x
    x = "fantastic"


myfunc()

print("Python is " + x)

Python is fantastic

### Data Types

In [1]:
x = 5
print(type(x))

<class 'int'>

In [2]:
x = "Hello World"

# Display x:
print(x)

# Display the data type of x:
print(type(x))

Hello World
<class 'str'>

In [3]:
x = 20

# Display x:
print(x)

# Display the data type of x:
print(type(x))

20
<class 'int'>

In [4]:
x = 20.5
# Display x:
print(x)

# Display the data type of x:
print(type(x))

20.5
<class 'float'>

In [5]:
x = 1j
# Display x:
print(x)

# Display the data type of x:
print(type(x))

1j
<class 'complex'>

In [6]:
x = ["apple", "banana", "cherry"]

# Display x:
print(x)

# Display the data type of x:
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [7]:
x = ("apple", "banana", "cherry")

# Display x:
print(x)

# Display the data type of x:
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [8]:
x = range(6)

# Display x:
print(x)

# Display the data type of x:
print(type(x))

range(0, 6)
<class 'range'>

In [ ]:
x = {"name": "John", "age": 36}

# Display x:
print(x)

# Display the data type of x:
print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

In [10]:
x = {"apple", "banana", "cherry"}

# Display x:
print(x)

# Display the data type of x:
print(type(x))

{'apple', 'banana', 'cherry'}
<class 'set'>

In [1]:
x = frozenset({"apple", "banana", "cherry"})

# Display x:
print(x)

# Display the data type of x:
print(type(x))

frozenset({'cherry', 'banana', 'apple'})
<class 'frozenset'>

In [2]:
x = True

# Display x
print(x)

# Display the data type of x:
print(type(x))

True
<class 'bool'>

In [3]:
b = b"Hello"

# Display x:
print(x)

# Display the data type of x:
print(type(x))

True
<class 'bool'>

In [4]:
x = bytearray(5)

# Display x:
print(x)

# Display the data type of x:
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [ ]:
x = memoryview(bytes(5))

# Display x:
print(x)

# Display the data type of x:
print(type(x))

<memory at 0x000001DCB3745C00>
<class 'memoryview'>

In [6]:
x = None

# Display x:
print(x)

# Display the data type of x:
print(type(x))

None
<class 'NoneType'>

In [ ]:
x = str("Hello World")
x = int(20)
x = float(20.5)
x = complex(1j)
x = list(("apple", "banana", "cherry"))
x = tuple(("apple", "banana", "cherry"))
x = range(6)
x = dict(name="John", age=36)
x = set(("apple", "banana", "cherry"))
x = frozenset(("apple", "banana", "cherry"))
x = bool(5)
x = bytes(5)
x = bytearray(5)
x = memoryview(bytes(5))

### Python Numbers

In [ ]:
x = 1  # int
y = 2.8  # float
z = 1j  # complex

In [2]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
x = 1
y = 356562222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [5]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [ ]:
x = 35e3
y = 12e4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [ ]:
x = 3 + 5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [ ]:
x = 1  # int
y = 2.8  # float
z = 1j  # complex

# Convert from int to float:
a = float(x)

# Convert from float to int:
b = int(y)

# Convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [ ]:
import random

print(r.randrange(1, 10))

9

### Python Casting

In [ ]:
x = int(1)  # x will be 1
y = int(2.8)  # y will be 2
z = int("3")  # z wil be 3

print(x)
print(y)
print(z)

1
2
3

In [ ]:
x = float(1)  # x will be 1.0
y = float(2.8)  # y will be 2.8
z = float("3")  # z will be 3.0
w = float("4.2")  # w will be 4.2

print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

### Python Strings

In [ ]:
print("Hello")
print("Hello")

Hello
Hello

In [2]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [3]:
a = "Hello"
print(a)

Hello

In [5]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [ ]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [8]:
a = "Hello, World!"
print(a[1])

e

In [9]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [10]:
a = "Hello, World!"
print(len(a))

13

In [11]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [1]:
txt = "The best things in life are free!"
if "free" in txt:
    print("Yes, 'free' is present.")

Yes, 'free' is present.

In [2]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [3]:
txt = "The best things in life are free!"
if "expensive" not in txt:
    print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [4]:
b = "Hello, World!"
print(b[2:5])

llo

In [6]:
b = "Hello, World!"
print(b[:5])

Hello

In [7]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [8]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [1]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [2]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [3]:
a = " Hello, World!"
print(a.strip())

Hello, World!

In [4]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [5]:
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

In [6]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [9]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [10]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [1]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [3]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [4]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [ ]:
txt = 'We are the so-called "Vikings" from the north.'
print(txt)

We are the so-called "Vikings" from the north.

In [ ]:
txt = "It's alright."
print(txt)

It's alright.

In [8]:
txt = "This will insert one \\ (backslash)."
print(txt)

This will insert one \ (backslash).

In [9]:
txt = "Hello\nWorld!"
print(txt)

Hello
World!

In [11]:
txt = "Hello\rWorld!"
print(txt)

World!

In [12]:
txt = "Hello\tWorld!"
print(txt)

Hello	World!

In [13]:
# This example erases one character (backspace):
txt = "Hello \bWorld!"
print(txt)

HelloWorld!

In [14]:
# A backslash followed by three integers will result in a octal value:
txt = "\110\145\154\154\157"
print(txt)

Hello

In [15]:
# A backslash followed by an 'x' and a hex number represents a hex value:
txt = "\x48\x65\x6c\x6c\x6f"
print(txt)

Hello

In [1]:
txt = "hello, and welcome to my world."
x = txt.capitalize()

print(x)

Hello, and welcome to my world.

In [2]:
txt = "python is FUN"
x = txt.capitalize()

print(x)

Python is fun

In [3]:
txt = "36 is my age."
x = txt.capitalize()
print(x)

36 is my age.

In [4]:
txt = "Hello, And Welcome To My World!"
x = txt.casefold()
print(x)

hello, and welcome to my world!

In [5]:
txt = "banana"

x = txt.center(20)

print(x)

       banana

In [ ]:
txt = "banana"
x = txt.center(20, "O")
print(x)

OOOOOOObananaOOOOOOO

In [8]:
txt = "I love apples, apple are my favorite fruit"
x = txt.count("apple")
print(x)

2

In [9]:
txt = "I love apples, apple are my favorite fruit."
x = txt.count("apple", 10, 24)
print(x)

1

In [10]:
txt = "My name is Ståle"
x = txt.encode()
print(x)

b'My name is St\xc3\xa5le'

In [ ]:
txt = "My name is Ståle"
print(txt.encode(encoding="ascii", errors="backslashreplace"))
print(txt.encode(encoding="ascii", errors="ignore"))
print(txt.encode(encoding="ascii", errors="namereplace"))
print(txt.encode(encoding="ascii", errors="replace"))
print(txt.encode(encoding="ascii", errors="xmlcharrefreplace"))

b'My name is St\\xe5le'
b'My name is Stle'
b'My name is St\\N{LATIN SMALL LETTER A WITH RING ABOVE}le'
b'My name is St?le'
b'My name is St&#229;le'

In [2]:
txt = "Hello, welcome to my world."

x = txt.endswith(".")

print(x)

True

In [3]:
txt = "Hello, welcome to my world."

x = txt.endswith("my world.")

print(x)

True

In [4]:
txt = "Hello, welcome to my world."
x = txt.endswith("my world.", 5, 11)
print(x)

False

In [5]:
txt = "Hello, welcome to my castle."

x = txt.endswith(("world.", "castle"))

print(x)

False

In [1]:
txt = "H\te\tl\tl\to"

x = txt.expandtabs(2)

print(x)

H e l l o

In [1]:
txt = "H\te\tl\tl\to"

print(txt)
print(txt.expandtabs())
print(txt.expandtabs(2))
print(txt.expandtabs(4))
print(txt.expandtabs(10))

H	e	l	l	o
H       e       l       l       o
H e l l o
H   e   l   l   o
H         e         l         l         o

In [2]:
txt = "Hello, welcome to my world."
x = txt.find("welcome")
print(x)

7

In [4]:
txt = "Hello,, welcome to my world."
x = txt.find("e")
print(x)

1

In [5]:
txt = "Hello, welcome to my world."
x = txt.find("e", 5, 10)
print(x)

8

In [6]:
txt = "Hello, welcome to my world."
print(txt.find("q"))
print(txt.index("q"))

-1

ValueError: substring not found

In [7]:
txt = "For only {price:.2f} dollars!"
print(txt.format(price=49))

For only 49.00 dollars!

In [9]:
# named indexes:
txt1 = "My name is {fname}, I'm {age}".format(fname="John", age=36)
# numbered indexes:
txt2 = "My name is {0}, I'm {1}".format("John", 36)
# empty placeholders:
txt3 = "My name is {}, I'm {}".format("John", 36)

print(txt1)
print(txt2)
print(txt3)

My name is John, I'm 36
My name is John, I'm 36
My name is John, I'm 36

### Python Booleans

In [1]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [3]:
a = 200
b = 33

if b > a:
    print("b is greater than a")

else:
    print("b is not greater than a")

b is not greater than a

In [4]:
print(bool("Hello"))
print(bool(15))

True
True

In [5]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

In [6]:
bool("abs")
bool(123)
bool(["apple", "cherry", "banana"])

True

In [7]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [8]:
class myclass():
    def __len__(self):
        return 0
    
myobj = myclass()
print(bool(myobj))

False

In [9]:
def myFunction():
    return True

print(myFunction())

True

In [10]:
def myFunction():
    return True

if myFunction():
    print("YES!")

else:
    print('No')

YES!

In [11]:
x = 200
print(isinstance(x, int))

True

In [12]:
print(10 + 5)

15

### Python Operators

In [ ]:
x = 5
y = 3

print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x % y)
print(x ** y)
print( x // y)

8
2
15
1.6666666666666667
2
125
1

In [ ]:
# x = 5
x = 5
print(x)

5

In [ ]:
# x = x + 3
x = 5
x += 3
print(x)

8

In [ ]:
# x = x - 3
x = 5
x -= 3
print(x)

2

In [ ]:
# x = x * 3
x = 5
x *= 3
print(x)

15

In [ ]:
# x = x / 3
x = 5
x /= 3
print(x)

1.6666666666666667

In [ ]:
# x = x % 3
x = 5
x %= 3
print(x)

2

In [ ]:
# x = x // 3
x = 5
x //= 3
print(x)

1

In [ ]:
# x = x ** 3
x = 5
x **= 3
print(x)

125

In [ ]:
# x = x & 3
x = 5
x &= 3
print(x)

1

In [ ]:
# x = x | 3
x = 5
x |= 3
print(x)

7

In [ ]:
# x = x ^ 3
x = 5
x ^= 3
print(x)

6

In [ ]:
# x = x >> 3
x = 5
x >>= 3
print(x)

0

In [ ]:
# x = x << 3
x = 5
x <<= 3
print(x)

40

In [ ]:
# x = 3
# print(x)
print(x := 3)

3

In [1]:
x = 5
y = 3

print(x == y)

False

In [ ]:
x = 5
y = 3
print(x!=y)

True

In [3]:
x = 5
y = 3
print(x>3)

True

In [5]:
x = 5
y = 3
print(x<y)

False

In [8]:
x = 5
y = 3
print(x>=y)

True

In [ ]:
x = 5
y = 3
print(x <= y)

False

In [9]:
x = 5
print(x > 3 and x < 10)

True

In [ ]:
x = 5
print(x > 3 or x < 4)

True

In [ ]:
print(not (x > 3 and x < 10))

False

In [ ]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)
print(x is y)
print(x == y)

True
False
True

In [ ]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)
print(x is not y)
print(x != y)

False
True
False

In [ ]:
x = ["apple", "banana"]
print("banana" in x)

True

In [16]:
x = ["apple", "banana"]
print("pineapple" not in x)

True

In [ ]:
print(6 & 3)


"""
The & operator compares each bit and set it to 1 if both are 1, otherwise it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
2 = 0000000000000010
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""

2

In [ ]:
print(6 | 3)


"""
The | operator compares each bit and set it to 1 if one or both is 1, otherwise it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
7 = 0000000000000111
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""

7

In [ ]:
print(6 ^ 3)


"""
The ^ operator compares each bit and set it to 1 if only one is 1, otherwise (if both are 1 or both are 0) it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
5 = 0000000000000101
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""

5

In [ ]:
print(~3)


"""
The ~ operator inverts each bit (0 becomes 1 and 1 becomes 0).

Inverted 3 becomes -4:
 3 = 0000000000000011
-4 = 1111111111111100

Decimal numbers and their binary values:
 4 = 0000000000000100
 3 = 0000000000000011
 2 = 0000000000000010
 1 = 0000000000000001
 0 = 0000000000000000
-1 = 1111111111111111
-2 = 1111111111111110
-3 = 1111111111111101
-4 = 1111111111111100
"""

-4

In [ ]:
print(3 << 2)


"""
The << operator inserts the specified number of 0's (in this case 2) from the right and let the same amount of leftmost bits fall off:

If you push 00 in from the left:
 3 = 0000000000000011
becomes
12 = 0000000000001100

Decimal numbers and their binary values:
 0 = 0000000000000000
 1 = 0000000000000001
 2 = 0000000000000010
 3 = 0000000000000011
 4 = 0000000000000100
 5 = 0000000000000101
 6 = 0000000000000110
 7 = 0000000000000111
 8 = 0000000000001000
 9 = 0000000000001001
10 = 0000000000001010
11 = 0000000000001011
12 = 0000000000001100
"""

12

In [ ]:
print(8 >> 2)


"""
The >> operator moves each bit the specified number of times to the right. Empty holes at the left are filled with 0's.

If you move each bit 2 times to the right, 8 becomes 2:
 8 = 0000000000001000
becomes
 2 = 0000000000000010

Decimal numbers and their binary values:
 0 = 0000000000000000
 1 = 0000000000000001
 2 = 0000000000000010
 3 = 0000000000000011
 4 = 0000000000000100
 5 = 0000000000000101
 6 = 0000000000000110
 7 = 0000000000000111
 8 = 0000000000001000
 9 = 0000000000001001
10 = 0000000000001010
11 = 0000000000001011
12 = 0000000000001100
"""

2

In [ ]:
print((6 + 3) - (6 + 3))

0

In [ ]:
print(100 + 5 * 3)

115

In [ ]:
print((6 + 3) - (6 + 3))

"""
Parenthesis have the highest precedence, and need to be evaluated first.
The calculation above reads 9 - 9 = 0
"""

0

In [ ]:
print(100 - 3**3)

"""
Exponentiation has higher precedence than subtraction, and needs to be evaluated first.
The calculation above reads 100 - 27 = 73
"""

73

In [ ]:
print(100 + ~3)

"""
Bitwise NOT has higher precedence than addition, and needs to be evaluated first.
The calculation above reads 100 + -4 = 96
"""

96

### Python List

In [1]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [2]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [3]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [5]:
list1 = ["apple", "banana", "cherry"]
list2 = [1,5,7,9,3]
list3 = [True, False, False]

print(list1)
print(list2)
print(list3)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]

In [7]:
list1 = ["abc", 34, True, 40, "male"]
print(list1)

['abc', 34, True, 40, 'male']

In [1]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

In [2]:
thisislist = list(("apple", "banana", "cherry"))
print(thisislist)

['apple', 'banana', 'cherry']

In [4]:
thislist = ["apple", "banana", "cherry"]
print(thisislist[1])

banana

In [5]:
thisislist = ["apple", "banana", "cherry"]
print(thisislist[-1])

cherry

In [6]:
thisislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "manga"]
print(thisislist[2:5])

['cherry', 'orange', 'kiwi']

In [2]:
thisislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thisislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [3]:
thisislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thisislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [4]:
thisislist = ["apple", "banana", "cherry", 'orange', 'kiwi', 'melon', 'mango']
print(thisislist[-4:-1])

['orange', 'kiwi', 'melon']

In [5]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
    print("Yes, 'apple' is in teh fruits list")

Yes, 'apple' is in teh fruits list

In [1]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [2]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [4]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

In [5]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [2]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [4]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [5]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [6]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [1]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [3]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [5]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [6]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [8]:
thislist = ["apple", "banana", "cherry"]
del thislist
print(thislist)

NameError: name 'thislist' is not defined

In [9]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [1]:
thislist = ["apple","banana", "cherry"]
for x in thislist:
    print(x)

apple
banana
cherry

In [ ]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
    print(thislist[i])

apple
banana
cherry

In [5]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
    print(thislist[i])
    i = i + 1

apple
banana
cherry

In [ ]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [1]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
    if "a" in x:
        newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [2]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if "a" in x]
print(newlist)

['apple', 'banana', 'mango']

In [3]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if x != "apple"]
print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

In [4]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits]
print(newlist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [6]:
newlist = [x for x in range(10)]
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [1]:
newlist = [x for x in range(10) if x < 5]
print(newlist)

[0, 1, 2, 3, 4]

In [2]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x.upper() for x in fruits]
print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [3]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist= ["hello" for x in fruits]
print(newlist)

['hello', 'hello', 'hello', 'hello', 'hello']

In [5]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x if x != "banana" else "orange" for x in fruits]
print(newlist)

['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [2]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [4]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [5]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse=True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [6]:
thislist = [100,50,65,82,23]
thislist.sort(reverse=True)
print(thislist)

[100, 82, 65, 50, 23]

In [7]:
def myfunc(n):
    return abs(n - 50)

thislist = [100,50,65,82,23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [8]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [2]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key=str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [3]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

In [4]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [5]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

In [6]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]
print(mylist)

['apple', 'banana', 'cherry']

In [1]:
list1 = ['a', 'b', 'c']
list2 = [1,2,3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [2]:
list1 = ['a', 'b', 'c']
list2=[1,2,3]

for x in list2:
    list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [3]:
list1 = ['a', 'b', 'c']
list2= [1,2,3]

list1.extend(list2)

print(list1)

['a', 'b', 'c', 1, 2, 3]

### Python Tuples

In [4]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [1]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [2]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [3]:
thistuple = ("apple",)
print(type(thistuple))

# Not a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [6]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1,5,7,9,3)
tuple3 = (True, False, False)

print(tuple1)
print(tuple2)
print(tuple3)

('apple', 'banana', 'cherry')
(1, 5, 7, 9, 3)
(True, False, False)

In [8]:
tuple1 = ("abc", 34, True, 40, "male")
print(tuple1)

('abc', 34, True, 40, 'male')

In [9]:
mytuple = ("apple", "banana", "cheryy")
print(type(mytuple))

<class 'tuple'>

In [1]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

### Access Tuple Items

In [1]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [2]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [3]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [1]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon","mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [2]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [3]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [4]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
    print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [1]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [3]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [4]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

print(thistuple)

('banana', 'cherry')

In [5]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple)

NameError: name 'thistuple' is not defined

In [6]:
fruits = ("apple", "banana", "cherry")
print(fruits)

('apple', 'banana', 'cherry')

In [7]:
fruits = ("apple", "banana", "cherry")
(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [3]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [5]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")
(green, *tropic, red) = fruits
print(green)
print(yellow)
print(red)

apple
['banana', 'cherry', 'strawberry']
cherry

In [6]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
    print(x)

apple
banana
cherry

In [7]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
    print(thistuple[i])

apple
banana
cherry

In [1]:
thistuple = ("apple", "banana", "cherry")
i = 0
while(i<len(thistuple)):
    print(thistuple[i])
    i += 1

apple
banana
cherry

In [3]:
tuple1 = ("a", "b", "c")
tuple2 = (1,2,3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [4]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [1]:
thistuple = (1,3,7,8,7,5,4,6,8,5)

x = thistuple.count(5)
print(x)

2

In [2]:
thistuple = (1,3,7,8,7,5,4,6,8,5)

x = thistuple.index(8)
print(x)

3

### Python Sets

In [3]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'banana', 'cherry'}

In [1]:
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'banana', 'cherry', 'apple'}

In [3]:
thisset = {"apple", "banana", "cherry", True, 1 , 2}
print(thisset)

{True, 2, 'cherry', 'apple', 'banana'}

In [5]:
thisset = {"apple", "banana", "cherry", False, 0, True}
print(thisset)

{False, True, 'cherry', 'apple', 'banana'}

In [7]:
thisset = {"apple", "banana", "cherry"}
print(len(thisset))

3

In [8]:
set1 = {"apple", "banana", "cherry"}
set2 = {1,5,7,9,3}
set3 = {True, False, False}

print(set1)
print(set2)
print(set3)

{'banana', 'cherry', 'apple'}
{1, 3, 5, 7, 9}
{False, True}

In [10]:
set1 = {"abc", "34", True, 40, "male"}
print(set1)

{True, 'male', 40, '34', 'abc'}

In [11]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

In [3]:
thisset = set(("apple", "banana", "cherry"))
print(thisset)

{'apple', 'banana', 'cherry'}

In [1]:
set = {"apple", "banana", "cherry"}

for x in set:
    print(x)

apple
cherry
banana

In [2]:
set = {"apple", "banana", "cherry"}

print("banana" in set)

True

In [3]:
set = {"apple", "banana", "cherry"}

print("banana" not in set)

False

In [4]:
set = {"apple", "banana", "cherry"}

set.add("orange")

print(set)

{'apple', 'orange', 'cherry', 'banana'}

In [6]:
set = {"apple", "cherry", "banana"}
tropical = {"mango", "papaya", "pineapple"}

set.update(tropical)

print(set)

{'apple', 'cherry', 'papaya', 'banana', 'mango', 'pineapple'}

In [2]:
set = {"apple", "banana", "cherry"}
list = ["orange", "kiwi"]

set.update(tropical)

print(set)

{'apple', 'cherry', 'juice', 'orange', 'banana'}

In [ ]:
set = {"apple", "banana", "cherry"}
set.remove("banana")

print(set)

{'apple', 'cherry'}

In [4]:
set = {"apple", "banana", "cherry"}
set.discard("banana")

print(set)

{'apple', 'cherry'}

In [6]:
set = {"apple", "banana", "cherry"}
x = set.pop()
print(x)
print(set)

apple
{'banana', 'cherry'}

In [1]:
set = {"apple", "banana", "cherry"}

set.clear()
print(set)

set()

In [2]:
set = {"apple", "banana", "cherry"}

del set

print(set)

<class 'set'>

In [3]:
set = {"apple", "banana", "cherry"}

for x in set:
    print(x)

apple
cherry
banana

In [5]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'c', 1, 2, 3, 'b', 'a'}

In [ ]:
set1 = {1, 2, 3}
set2 = {"a", "b", "c"}

set3 = set1 | set2

print(set3)

{1, 2, 3, 'c', 'a', 'b'}

In [3]:
set1 = {1, 2, 3}
set2 = {"a", "b", "c"}
set3 = {"John", "Elena"}
set4 = {"apple", "banana", "cherry"}

set = set1.union(set2, set3, set4)
print(set)

{1, 2, 3, 'banana', 'Elena', 'apple', 'John', 'c', 'a', 'b', 'cherry'}

In [4]:
set1 = {1, 2, 3}
set2 = {"a", "b", "c"}
set3 = {"John", "Elena"}
set4 = {"apple", "banana", "cherry"}

set = set1 | set2 | set3 | set4
print(set)

{1, 2, 3, 'banana', 'Elena', 'apple', 'John', 'c', 'a', 'b', 'cherry'}

In [ ]:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{1, 2, 3, 'c', 'a', 'b'}

In [ ]:
set1 = {1, 2, 3}
set2 = {"a", "b", "c"}

set1.update(set2)

print(set1)

{1, 2, 3, 'c', 'a', 'b'}