# Python

## Python Tutorial

### Intro

In [1]:
print("Hello World!")

Hello World!

### Get Started

In [2]:
print("Hello, World!")

Hello, World!

In [3]:
import sys

print(sys.version)

3.13.3 (tags/v3.13.3:6280bb5, Apr  8 2025, 14:47:33) [MSC v.1943 64 bit (AMD64)]

### Syntax

In [4]:
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!

In [5]:
if 5 > 2:
    print("Five is greater than two!")
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [6]:
x = 5
y = "Hello, World!"
# This is a comment.
print("Hello, World!")

Hello, World!

### Comments

In [7]:
# This is a comment.
print("Hello, World!")

Hello, World!

In [8]:
print("Hello, World!")  # This is a comment

Hello, World!

In [9]:
# print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

In [10]:
# This is a comment
# written in
# more than just one line
print("Hello, World!")

Hello, World!

In [11]:
"""
This is a comment
written in
more than just one line
"""

print("Hello World!")

Hello World!

### Variables

In [12]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [13]:
x = 4  # x is of type int
x = "Sally"  # x is now of type str
print(x)

Sally

In [14]:
x = str(3)  # x will be '3'
y = int(3)  # y will be 3
z = float(3)  # z will be 3.0

In [15]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [16]:
x = "John"
# is the same as
x = "John"

In [17]:
a = 4
A = "Sally"
# A will not overwrite a

In [18]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [19]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [20]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [21]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [22]:
x = "Python is awesome"
print(x)

Python is awesome

In [23]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [24]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [25]:
x = 5
y = 10
print(x + y)

15

In [26]:
x = 5
y = "John"
print(x, y)

5 John

In [27]:
x = "awesome"


def myfunc():
    print("Python is " + x)


myfunc()

Python is awesome

In [28]:
x = "awesome"


def myfunc():
    x = "fantastic"
    print("Python is " + x)


myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [29]:
def myfunc():
    global x
    x = "fantastic"


myfunc()

print("Python is " + x)

Python is fantastic

In [30]:
x = "awesome"


def myfunc():
    global x
    x = "fantastic"


myfunc()

print("Python is " + x)

Python is fantastic

### Data Types

In [31]:
x = 5
print(type(x))

<class 'int'>

In [32]:
x = "Hello World"

# Display x:
print(x)

# Display the data type of x:
print(type(x))

Hello World
<class 'str'>

In [33]:
x = 20

# Display x:
print(x)

# Display the data type of x:
print(type(x))

20
<class 'int'>

In [34]:
x = 20.5
# Display x:
print(x)

# Display the data type of x:
print(type(x))

20.5
<class 'float'>

In [35]:
x = 1j
# Display x:
print(x)

# Display the data type of x:
print(type(x))

1j
<class 'complex'>

In [36]:
x = ["apple", "banana", "cherry"]

# Display x:
print(x)

# Display the data type of x:
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [37]:
x = ("apple", "banana", "cherry")

# Display x:
print(x)

# Display the data type of x:
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [38]:
x = range(6)

# Display x:
print(x)

# Display the data type of x:
print(type(x))

range(0, 6)
<class 'range'>

In [39]:
x = {"name": "John", "age": 36}

# Display x:
print(x)

# Display the data type of x:
print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

In [40]:
x = {"apple", "banana", "cherry"}

# Display x:
print(x)

# Display the data type of x:
print(type(x))

{'cherry', 'apple', 'banana'}
<class 'set'>

In [41]:
x = frozenset({"apple", "banana", "cherry"})

# Display x:
print(x)

# Display the data type of x:
print(type(x))

frozenset({'cherry', 'apple', 'banana'})
<class 'frozenset'>

In [42]:
x = True

# Display x
print(x)

# Display the data type of x:
print(type(x))

True
<class 'bool'>

In [43]:
b = b"Hello"

# Display x:
print(x)

# Display the data type of x:
print(type(x))

True
<class 'bool'>

In [44]:
x = bytearray(5)

# Display x:
print(x)

# Display the data type of x:
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [45]:
x = memoryview(bytes(5))

# Display x:
print(x)

# Display the data type of x:
print(type(x))

<memory at 0x000002113A391780>
<class 'memoryview'>

In [46]:
x = None

# Display x:
print(x)

# Display the data type of x:
print(type(x))

None
<class 'NoneType'>

In [47]:
x = str("Hello World")
x = int(20)
x = float(20.5)
x = complex(1j)
x = list(("apple", "banana", "cherry"))
x = tuple(("apple", "banana", "cherry"))
x = range(6)
x = dict(name="John", age=36)
x = set(("apple", "banana", "cherry"))
x = frozenset(("apple", "banana", "cherry"))
x = bool(5)
x = bytes(5)
x = bytearray(5)
x = memoryview(bytes(5))

### Python Numbers

In [48]:
x = 1  # int
y = 2.8  # float
z = 1j  # complex

In [49]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [50]:
x = 1
y = 356562222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [51]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [52]:
x = 35e3
y = 12e4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [53]:
x = 3 + 5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [54]:
x = 1  # int
y = 2.8  # float
z = 1j  # complex

# Convert from int to float:
a = float(x)

# Convert from float to int:
b = int(y)

# Convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [55]:
import random

print(r.randrange(1, 10))

NameError: name 'r' is not defined

### Python Casting

In [ ]:
x = int(1)  # x will be 1
y = int(2.8)  # y will be 2
z = int("3")  # z wil be 3

print(x)
print(y)
print(z)

1
2
3

In [ ]:
x = float(1)  # x will be 1.0
y = float(2.8)  # y will be 2.8
z = float("3")  # z will be 3.0
w = float("4.2")  # w will be 4.2

print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

### Python Strings

In [ ]:
print("Hello")
print("Hello")

Hello
Hello

In [ ]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [ ]:
a = "Hello"
print(a)

Hello

In [ ]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [ ]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [ ]:
a = "Hello, World!"
print(a[1])

e

In [ ]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [ ]:
a = "Hello, World!"
print(len(a))

13

In [ ]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [ ]:
txt = "The best things in life are free!"
if "free" in txt:
    print("Yes, 'free' is present.")

Yes, 'free' is present.

In [ ]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [ ]:
txt = "The best things in life are free!"
if "expensive" not in txt:
    print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [ ]:
b = "Hello, World!"
print(b[2:5])

llo

In [ ]:
b = "Hello, World!"
print(b[:5])

Hello

In [ ]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [ ]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [ ]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [ ]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [ ]:
a = " Hello, World!"
print(a.strip())

Hello, World!

In [ ]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [ ]:
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

In [ ]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [ ]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [ ]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [ ]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [ ]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [ ]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [ ]:
txt = 'We are the so-called "Vikings" from the north.'
print(txt)

We are the so-called "Vikings" from the north.

In [ ]:
txt = "It's alright."
print(txt)

It's alright.

In [ ]:
txt = "This will insert one \\ (backslash)."
print(txt)

This will insert one \ (backslash).

In [ ]:
txt = "Hello\nWorld!"
print(txt)

Hello
World!

In [ ]:
txt = "Hello\rWorld!"
print(txt)

World!

In [ ]:
txt = "Hello\tWorld!"
print(txt)

Hello	World!

In [ ]:
# This example erases one character (backspace):
txt = "Hello \bWorld!"
print(txt)

HelloWorld!

In [ ]:
# A backslash followed by three integers will result in a octal value:
txt = "\110\145\154\154\157"
print(txt)

Hello

In [ ]:
# A backslash followed by an 'x' and a hex number represents a hex value:
txt = "\x48\x65\x6c\x6c\x6f"
print(txt)

Hello

In [ ]:
txt = "hello, and welcome to my world."
x = txt.capitalize()

print(x)

Hello, and welcome to my world.

In [ ]:
txt = "python is FUN"
x = txt.capitalize()

print(x)

Python is fun

In [ ]:
txt = "36 is my age."
x = txt.capitalize()
print(x)

36 is my age.

In [ ]:
txt = "Hello, And Welcome To My World!"
x = txt.casefold()
print(x)

hello, and welcome to my world!

In [ ]:
txt = "banana"

x = txt.center(20)

print(x)

       banana

In [ ]:
txt = "banana"
x = txt.center(20, "O")
print(x)

OOOOOOObananaOOOOOOO

In [ ]:
txt = "I love apples, apple are my favorite fruit"
x = txt.count("apple")
print(x)

2

In [ ]:
txt = "I love apples, apple are my favorite fruit."
x = txt.count("apple", 10, 24)
print(x)

1

In [ ]:
txt = "My name is Ståle"
x = txt.encode()
print(x)

b'My name is St\xc3\xa5le'

In [ ]:
txt = "My name is Ståle"
print(txt.encode(encoding="ascii", errors="backslashreplace"))
print(txt.encode(encoding="ascii", errors="ignore"))
print(txt.encode(encoding="ascii", errors="namereplace"))
print(txt.encode(encoding="ascii", errors="replace"))
print(txt.encode(encoding="ascii", errors="xmlcharrefreplace"))

b'My name is St\\xe5le'
b'My name is Stle'
b'My name is St\\N{LATIN SMALL LETTER A WITH RING ABOVE}le'
b'My name is St?le'
b'My name is St&#229;le'

In [ ]:
txt = "Hello, welcome to my world."

x = txt.endswith(".")

print(x)

True

In [ ]:
txt = "Hello, welcome to my world."

x = txt.endswith("my world.")

print(x)

True

In [ ]:
txt = "Hello, welcome to my world."
x = txt.endswith("my world.", 5, 11)
print(x)

False

In [ ]:
txt = "Hello, welcome to my castle."

x = txt.endswith(("world.", "castle"))

print(x)

False

In [ ]:
txt = "H\te\tl\tl\to"

x = txt.expandtabs(2)

print(x)

H e l l o

In [ ]:
txt = "H\te\tl\tl\to"

print(txt)
print(txt.expandtabs())
print(txt.expandtabs(2))
print(txt.expandtabs(4))
print(txt.expandtabs(10))

H	e	l	l	o
H       e       l       l       o
H e l l o
H   e   l   l   o
H         e         l         l         o

In [ ]:
txt = "Hello, welcome to my world."
x = txt.find("welcome")
print(x)

7

In [ ]:
txt = "Hello,, welcome to my world."
x = txt.find("e")
print(x)

1

In [ ]:
txt = "Hello, welcome to my world."
x = txt.find("e", 5, 10)
print(x)

8

In [ ]:
txt = "Hello, welcome to my world."
print(txt.find("q"))
print(txt.index("q"))

-1

ValueError: substring not found

In [ ]:
txt = "For only {price:.2f} dollars!"
print(txt.format(price=49))

For only 49.00 dollars!

In [ ]:
# named indexes:
txt1 = "My name is {fname}, I'm {age}".format(fname="John", age=36)
# numbered indexes:
txt2 = "My name is {0}, I'm {1}".format("John", 36)
# empty placeholders:
txt3 = "My name is {}, I'm {}".format("John", 36)

print(txt1)
print(txt2)
print(txt3)

My name is John, I'm 36
My name is John, I'm 36
My name is John, I'm 36

### Python Booleans

In [ ]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [ ]:
a = 200
b = 33

if b > a:
    print("b is greater than a")

else:
    print("b is not greater than a")

b is not greater than a

In [ ]:
print(bool("Hello"))
print(bool(15))

True
True

In [ ]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

In [ ]:
bool("abs")
bool(123)
bool(["apple", "cherry", "banana"])

True

In [ ]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [ ]:
class myclass:
    def __len__(self):
        return 0


myobj = myclass()
print(bool(myobj))

False

In [ ]:
def myFunction():
    return True


print(myFunction())

True

In [ ]:
def myFunction():
    return True


if myFunction():
    print("YES!")

else:
    print("No")

YES!

In [ ]:
x = 200
print(isinstance(x, int))

True

In [ ]:
print(10 + 5)

15

### Python Operators

In [ ]:
x = 5
y = 3

print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x % y)
print(x**y)
print(x // y)

8
2
15
1.6666666666666667
2
125
1

In [ ]:
# x = 5
x = 5
print(x)

5

In [ ]:
# x = x + 3
x = 5
x += 3
print(x)

8

In [ ]:
# x = x - 3
x = 5
x -= 3
print(x)

2

In [ ]:
# x = x * 3
x = 5
x *= 3
print(x)

15

In [ ]:
# x = x / 3
x = 5
x /= 3
print(x)

1.6666666666666667

In [ ]:
# x = x % 3
x = 5
x %= 3
print(x)

2

In [ ]:
# x = x // 3
x = 5
x //= 3
print(x)

1

In [ ]:
# x = x ** 3
x = 5
x **= 3
print(x)

125

In [ ]:
# x = x & 3
x = 5
x &= 3
print(x)

1

In [ ]:
# x = x | 3
x = 5
x |= 3
print(x)

7

In [ ]:
# x = x ^ 3
x = 5
x ^= 3
print(x)

6

In [ ]:
# x = x >> 3
x = 5
x >>= 3
print(x)

0

In [ ]:
# x = x << 3
x = 5
x <<= 3
print(x)

40

In [ ]:
# x = 3
# print(x)
print(x := 3)

3

In [ ]:
x = 5
y = 3

print(x == y)

False

In [ ]:
x = 5
y = 3
print(x != y)

True

In [ ]:
x = 5
y = 3
print(x > 3)

True

In [ ]:
x = 5
y = 3
print(x < y)

False

In [ ]:
x = 5
y = 3
print(x >= y)

True

In [ ]:
x = 5
y = 3
print(x <= y)

False

In [ ]:
x = 5
print(x > 3 and x < 10)

True

In [ ]:
x = 5
print(x > 3 or x < 4)

True

In [ ]:
print(not (x > 3 and x < 10))

False

In [ ]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)
print(x is y)
print(x == y)

True
False
True

In [ ]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)
print(x is not y)
print(x != y)

False
True
False

In [ ]:
x = ["apple", "banana"]
print("banana" in x)

True

In [ ]:
x = ["apple", "banana"]
print("pineapple" not in x)

True

In [ ]:
print(6 & 3)


"""
The & operator compares each bit and set it to 1 if both are 1, otherwise it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
2 = 0000000000000010
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""

2

In [ ]:
print(6 | 3)


"""
The | operator compares each bit and set it to 1 if one or both is 1, otherwise it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
7 = 0000000000000111
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""

7

In [ ]:
print(6 ^ 3)


"""
The ^ operator compares each bit and set it to 1 if only one is 1, otherwise (if both are 1 or both are 0) it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
5 = 0000000000000101
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""

5

In [ ]:
print(~3)


"""
The ~ operator inverts each bit (0 becomes 1 and 1 becomes 0).

Inverted 3 becomes -4:
 3 = 0000000000000011
-4 = 1111111111111100

Decimal numbers and their binary values:
 4 = 0000000000000100
 3 = 0000000000000011
 2 = 0000000000000010
 1 = 0000000000000001
 0 = 0000000000000000
-1 = 1111111111111111
-2 = 1111111111111110
-3 = 1111111111111101
-4 = 1111111111111100
"""

-4

In [ ]:
print(3 << 2)


"""
The << operator inserts the specified number of 0's (in this case 2) from the right and let the same amount of leftmost bits fall off:

If you push 00 in from the left:
 3 = 0000000000000011
becomes
12 = 0000000000001100

Decimal numbers and their binary values:
 0 = 0000000000000000
 1 = 0000000000000001
 2 = 0000000000000010
 3 = 0000000000000011
 4 = 0000000000000100
 5 = 0000000000000101
 6 = 0000000000000110
 7 = 0000000000000111
 8 = 0000000000001000
 9 = 0000000000001001
10 = 0000000000001010
11 = 0000000000001011
12 = 0000000000001100
"""

12

In [ ]:
print(8 >> 2)


"""
The >> operator moves each bit the specified number of times to the right. Empty holes at the left are filled with 0's.

If you move each bit 2 times to the right, 8 becomes 2:
 8 = 0000000000001000
becomes
 2 = 0000000000000010

Decimal numbers and their binary values:
 0 = 0000000000000000
 1 = 0000000000000001
 2 = 0000000000000010
 3 = 0000000000000011
 4 = 0000000000000100
 5 = 0000000000000101
 6 = 0000000000000110
 7 = 0000000000000111
 8 = 0000000000001000
 9 = 0000000000001001
10 = 0000000000001010
11 = 0000000000001011
12 = 0000000000001100
"""

2

In [ ]:
print((6 + 3) - (6 + 3))

0

In [ ]:
print(100 + 5 * 3)

115

In [ ]:
print((6 + 3) - (6 + 3))

"""
Parenthesis have the highest precedence, and need to be evaluated first.
The calculation above reads 9 - 9 = 0
"""

0

In [ ]:
print(100 - 3**3)

"""
Exponentiation has higher precedence than subtraction, and needs to be evaluated first.
The calculation above reads 100 - 27 = 73
"""

73

In [ ]:
print(100 + ~3)

"""
Bitwise NOT has higher precedence than addition, and needs to be evaluated first.
The calculation above reads 100 + -4 = 96
"""

96

### Python List

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [ ]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

print(list1)
print(list2)
print(list3)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]

In [ ]:
list1 = ["abc", 34, True, 40, "male"]
print(list1)

['abc', 34, True, 40, 'male']

In [ ]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

In [ ]:
thisislist = list(("apple", "banana", "cherry"))
print(thisislist)

['apple', 'banana', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thisislist[1])

banana

In [ ]:
thisislist = ["apple", "banana", "cherry"]
print(thisislist[-1])

cherry

In [ ]:
thisislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "manga"]
print(thisislist[2:5])

['cherry', 'orange', 'kiwi']

In [ ]:
thisislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thisislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [ ]:
thisislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thisislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
thisislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thisislist[-4:-1])

['orange', 'kiwi', 'melon']

In [ ]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
    print("Yes, 'apple' is in teh fruits list")

Yes, 'apple' is in teh fruits list

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist
print(thislist)

NameError: name 'thislist' is not defined

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [ ]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
    print(x)

apple
banana
cherry

In [ ]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
    print(thislist[i])

apple
banana
cherry

In [ ]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
    print(thislist[i])
    i = i + 1

apple
banana
cherry

In [ ]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
    if "a" in x:
        newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if "a" in x]
print(newlist)

['apple', 'banana', 'mango']

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if x != "apple"]
print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits]
print(newlist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [ ]:
newlist = [x for x in range(10)]
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
newlist = [x for x in range(10) if x < 5]
print(newlist)

[0, 1, 2, 3, 4]

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x.upper() for x in fruits]
print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = ["hello" for x in fruits]
print(newlist)

['hello', 'hello', 'hello', 'hello', 'hello']

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x if x != "banana" else "orange" for x in fruits]
print(newlist)

['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [ ]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse=True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [ ]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse=True)
print(thislist)

[100, 82, 65, 50, 23]

In [ ]:
def myfunc(n):
    return abs(n - 50)


thislist = [100, 50, 65, 82, 23]
thislist.sort(key=myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key=str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]
print(mylist)

['apple', 'banana', 'cherry']

In [ ]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

for x in list2:
    list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list1.extend(list2)

print(list1)

['a', 'b', 'c', 1, 2, 3]

### Python Tuples

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [ ]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [ ]:
thistuple = ("apple",)
print(type(thistuple))

# Not a tuple
thistuple = "apple"
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [ ]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

print(tuple1)
print(tuple2)
print(tuple3)

('apple', 'banana', 'cherry')
(1, 5, 7, 9, 3)
(True, False, False)

In [ ]:
tuple1 = ("abc", 34, True, 40, "male")
print(tuple1)

('abc', 34, True, 40, 'male')

In [ ]:
mytuple = ("apple", "banana", "cheryy")
print(type(mytuple))

<class 'tuple'>

In [ ]:
thistuple = tuple(("apple", "banana", "cherry"))  # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

#### Access Tuple Items

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [ ]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
    print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

print(thistuple)

('banana', 'cherry')

In [ ]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple)

NameError: name 'thistuple' is not defined

In [ ]:
fruits = ("apple", "banana", "cherry")
print(fruits)

('apple', 'banana', 'cherry')

In [ ]:
fruits = ("apple", "banana", "cherry")
(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [ ]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [ ]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")
(green, *tropic, red) = fruits
print(green)
print(yellow)
print(red)

apple
['banana', 'cherry', 'strawberry']
cherry

In [ ]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
    print(x)

apple
banana
cherry

In [ ]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
    print(thistuple[i])

apple
banana
cherry

In [ ]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
    print(thistuple[i])
    i += 1

apple
banana
cherry

In [ ]:
tuple1 = ("a", "b", "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [ ]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [ ]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)
print(x)

2

In [ ]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8)
print(x)

3

### Python Sets

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'banana', 'cherry'}

In [ ]:
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'banana', 'cherry', 'apple'}

In [ ]:
thisset = {"apple", "banana", "cherry", True, 1, 2}
print(thisset)

{True, 2, 'cherry', 'apple', 'banana'}

In [ ]:
thisset = {"apple", "banana", "cherry", False, 0, True}
print(thisset)

{False, True, 'cherry', 'apple', 'banana'}

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(len(thisset))

3

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

print(set1)
print(set2)
print(set3)

{'banana', 'cherry', 'apple'}
{1, 3, 5, 7, 9}
{False, True}

In [ ]:
set1 = {"abc", "34", True, 40, "male"}
print(set1)

{True, 'male', 40, '34', 'abc'}

In [ ]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

In [ ]:
thisset = set(("apple", "banana", "cherry"))
print(thisset)

{'apple', 'banana', 'cherry'}

In [ ]:
set = {"apple", "banana", "cherry"}

for x in set:
    print(x)

apple
cherry
banana

In [ ]:
set = {"apple", "banana", "cherry"}

print("banana" in set)

True

In [ ]:
set = {"apple", "banana", "cherry"}

print("banana" not in set)

False

In [ ]:
set = {"apple", "banana", "cherry"}

set.add("orange")

print(set)

{'apple', 'orange', 'cherry', 'banana'}

In [ ]:
set = {"apple", "cherry", "banana"}
tropical = {"mango", "papaya", "pineapple"}

set.update(tropical)

print(set)

{'apple', 'cherry', 'papaya', 'banana', 'mango', 'pineapple'}

In [ ]:
set = {"apple", "banana", "cherry"}
list = ["orange", "kiwi"]

set.update(tropical)

print(set)

{'apple', 'cherry', 'juice', 'orange', 'banana'}

In [ ]:
set = {"apple", "banana", "cherry"}
set.remove("banana")

print(set)

{'apple', 'cherry'}

In [ ]:
set = {"apple", "banana", "cherry"}
set.discard("banana")

print(set)

{'apple', 'cherry'}

In [ ]:
set = {"apple", "banana", "cherry"}
x = set.pop()
print(x)
print(set)

apple
{'banana', 'cherry'}

In [ ]:
set = {"apple", "banana", "cherry"}

set.clear()
print(set)

set()

In [ ]:
set = {"apple", "banana", "cherry"}

del set

print(set)

<class 'set'>

In [ ]:
set = {"apple", "banana", "cherry"}

for x in set:
    print(x)

apple
cherry
banana

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'c', 1, 2, 3, 'b', 'a'}

In [ ]:
set1 = {1, 2, 3}
set2 = {"a", "b", "c"}

set3 = set1 | set2

print(set3)

{1, 2, 3, 'c', 'a', 'b'}

In [ ]:
set1 = {1, 2, 3}
set2 = {"a", "b", "c"}
set3 = {"John", "Elena"}
set4 = {"apple", "banana", "cherry"}

set = set1.union(set2, set3, set4)
print(set)

{1, 2, 3, 'banana', 'Elena', 'apple', 'John', 'c', 'a', 'b', 'cherry'}

In [ ]:
set1 = {1, 2, 3}
set2 = {"a", "b", "c"}
set3 = {"John", "Elena"}
set4 = {"apple", "banana", "cherry"}

set = set1 | set2 | set3 | set4
print(set)

{1, 2, 3, 'banana', 'Elena', 'apple', 'John', 'c', 'a', 'b', 'cherry'}

In [ ]:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{1, 2, 3, 'c', 'a', 'b'}

In [ ]:
set1 = {1, 2, 3}
set2 = {"a", "b", "c"}

set1.update(set2)

print(set1)

{1, 2, 3, 'c', 'a', 'b'}

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set = set1.intersection(set2)
print(set)

{'apple'}

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set = set1 & set2
print(set)

{'apple'}

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)
print(set1)

{'apple'}

In [ ]:
set1 = {1, "apple", "cherry", 0, "banana"}
set2 = {0, True, 1, False, "apple", "google"}

set = set1.intersection(set2)
print(set)

{0, True, 'apple'}

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)
print(set3)

{'banana', 'cherry'}

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'banana', 'cherry'}

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)
print(set1)

{'banana', 'cherry'}

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)
print(set3)

{'microsoft', 'banana', 'cherry', 'google'}

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1 ^ set2

print(set3)

{'microsoft', 'banana', 'cherry', 'google'}

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"microsoft", "google", "apple"}

set1.symmetric_difference_update(set2)
print(set1)

{'google', 'banana', 'microsoft', 'cherry'}

### Python Dictionaries

#### Python Dictionaries

In [ ]:
thisdict = {"brand": "Ford", "model": "Mustang", "year": 1964}

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
thisdict = {"brand": "Ford", "model": "Mustang", "year": 1964}

print(thisdict["brand"])

Ford

In [ ]:
thisdict = {"brand": "Ford", "model": "Mustang", "year": 1964, "year": 2000}

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2000}

In [ ]:
thisdict = {"brand": "Ford", "model": "Mustang", "year": 1964, "year": 2000}

print(len(thisdict))

3

In [ ]:
thisdict = {
    "brand": "Ford",
    "electric": False,
    "year": 1964,
    "color": ["red", "white", "black"],
}
print(thisdict)

{'brand': 'Ford', 'electric': False, 'year': 1964, 'color': ['red', 'white', 'black']}

In [ ]:
thisdict = {"brand": "Ford", "model": "Mustang", "year": 1964}

print(type(thisdict))

<class 'dict'>

In [ ]:
thisdict = dict(name="John", age=36, country="Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

#### Access Items

In [ ]:
thisdict = {"brand": "Ford", "model": "Mustang", "year": 1964}

x = thisdict["model"]

print(x)

Mustang

In [ ]:
thisdict = {"brand": "Ford", "model": "Mustang", "year": 1964}

x = thisdict.get("model")
print(x)

Mustang

In [ ]:
thisdict = {"brand": "Ford", "model": "Mustang", "year": 1964}

x = thisdict.keys()
print(x)

dict_keys(['brand', 'model', 'year'])

In [ ]:
car = {"brand": "Ford", "model": "Mustang", "year": 1964}

x = car.keys()

print(x)  # before the change

car["color"] = "white"

print(x)  # after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [ ]:
thisdict = {"brand": "Ford", "model": "Mustang", "year": 1964}

x = thisdict.values()

print(x)

dict_values(['Ford', 'Mustang', 1964])

In [ ]:
car = {"brand": "Ford", "model": "Mustang", "year": 1964}

x = car.values()

print(x)  # before the change

car["year"] = 2020

print(x)  # after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

In [ ]:
car = {"brand": "Ford", "model": "Mustang", "year": 1964}

x = car.values()

print(x)  # before the change

car["color"] = "red"

print(x)  # after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 1964, 'red'])

In [ ]:
car = {"brand": "Ford", "model": "Mustang", "year": 1964}

x = car.items()

print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [ ]:
car = {"brand": "Ford", "model": "Mustang", "year": 1964}

x = car.items()

print(x)  # before the change

car["year"] = 2020

print(x)  # after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

In [ ]:
car = {"brand": "Ford", "model": "Mustang", "year": 1964}

x = car.items()

print(x)  # before the change

car["color"] = "red"

print(x)  # after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'red')])

In [ ]:
thisdict = {"brand": "Ford", "model": "Mustang", "year": 1964}
if "model" in thisdict:
    print("Yes, 'model' is one of the keys in the car dictionary")

Yes, 'model' is one of the keys in the car dictionary

#### Change Items

In [ ]:
thisdict = {"brand": "Ford", "model": "Mustang", "year": 1964}

thisdict["year"] = 2000

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2000}

In [ ]:
thisdict = {"brand": "Ford", "model": "Mustang", "year": 1964}

thisdict.update({"year": 2000})

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2000}

#### Add Items

In [ ]:
thisdict = {"brand": "Ford", "model": "Mustang", "year": 1964}

thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [ ]:
thisdict = {"brand": "Ford", "model": "Mustang", "year": 1964}

thisdict.update({"color": "red"})

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

#### Remove Items

In [ ]:
thisdict = {"brand": "Ford", "model": "Mustang", "year": 1964}

thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [ ]:
thisdict = {"brand": "Ford", "model": "Mustang", "year": 1964}

thisdict.popitem()

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [ ]:
thisdict = {"brand": "Ford", "model": "Mustang", "year": 1964}

del thisdict

print(thisdict)

NameError: name 'thisdict' is not defined

In [ ]:
thisdict = {"brand": "Ford", "model": "Mustang", "year": 1964}

thisdict.clear()

print(thisdict)

{}

#### Loop Dictionaries

In [ ]:
thisdict = {"brand": "Ford", "model": "Mustang", "year": 1964}

for x in thisdict:
    print(x)

brand
model
year

In [ ]:
thisdict = {"brand": "Ford", "model": "Mustang", "year": 1964}

for x in thisdict:
    print(thisdict[x])

Ford
Mustang
1964

In [ ]:
thisdict = {"brand": "Ford", "model": "Mustang", "year": 1964}

for x in thisdict.values():
    print(x)

Ford
Mustang
1964

In [ ]:
thisdict = {"brand": "Ford", "model": "Mustang", "year": 1964}

for x in thisdict.keys():
    print(x)

brand
model
year

In [ ]:
thisdict = {"brand": "Ford", "model": "Mustang", "year": 1964}

for x, y in thisdict.items():
    print(x, y)

brand Ford
model Mustang
year 1964

#### Copy Dictionaries

In [ ]:
thisdict = {"brand": "Ford", "model": "Mustang", "year": 1964}

mydict = thisdict.copy()

print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
thisdict = {"brand": "Ford", "model": "Mustang", "year": 1964}

mydict = dict(thisdict)

print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

#### Nested Dictionaries

In [ ]:
myfamily = {
    "child1": {"name": "Emil", "year": 2004},
    "child2": {"name": "Tobias", "year": 2007},
    "child3": {"name": "Linus", "year": 2011},
}

print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [ ]:
child1 = {"name": "Emil", "year": 2004}
child2 = {"name": "Tobias", "year": 2007}
child3 = {"name": "Linus", "year": 2011}

myfamily = {"child1": child1, "child2": child2, "child3": child3}

print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [ ]:
print(myfamily["child2"]["name"])

Tobias

In [ ]:
for x, obj in myfamily.items():
    print(x)

    for y in obj:
        print(y + ":", obj[y])

child1
name: Emil
year: 2004
child2
name: Tobias
year: 2007
child3
name: Linus
year: 2011

### Python If...Else

In [ ]:
a = 33
b = 2000
if b > a:
    print("b is greater than a")

b is greater than a

In [ ]:
a = 33
b = 200
if b > a:
print("b is greater than a") # you will get an error

IndentationError: expected an indented block after 'if' statement on line 3 (1443227691.py, line 4)

In [ ]:
a = 33
b = 33
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")

a and b are equal

In [ ]:
a = 200
b = 33
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else:
    print("a is greater than b")

a is greater than b

In [ ]:
a = 200
b = 33
if b > a:
    print("b is greater than a")
else:
    print("a is greater than b")

a is greater than b

In [ ]:
# Short Hand If
# If you have only one statement to execute, you can put it on the same line as the if statement.
if a > b:
    print("a is greater than b")

a is greater than b

In [ ]:
a = 2
b = 330
print("A") if a > b else print("B")

B

In [ ]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

In [ ]:
a = 200
b = 33
c = 500

if a > b and c > a:
    print("Both conditions are True")

Both conditions are True

In [ ]:
a = 200
b = 33
c = 500

if a > b or a > c:
    print("At least one of the conditions is True")

At least one of the conditions is True

In [ ]:
a = 33
b = 200
if not a > b:
    print("a is NOT greater than b")

a is NOT greater than b

In [ ]:
x = 41

if x > 10:
    print("Above ten,")
    if x > 20:
        print("and also above 20!")
    else:
        print("but not above 20.")

Above ten,
and also above 20!

In [ ]:
a = 33
b = 200

if b > a:
    pass

### Python Match

In [ ]:
day = 4
match day:
    case 1:
        print("Saturday")
    case 2:
        print("Sunday")
    case 3:
        print("Monday")
    case 4:
        print("Tuesday")
    case 5:
        print("Wednesday")
    case 6:
        print("Thursday")
    case 7:
        print("Friday")

Tuesday

In [ ]:
day = 4
match day:
    case 6:
        print("Thursday")
    case 7:
        print("Friday")
    case _:
        print("Looking forward to the Weekdays")

Looking forward to the Weekend

In [ ]:
day = 4
match day:
    case 1 | 2 | 3 | 4 | 5:
        print("Today is a weekday")
    case 6 | 7:
        print("I love weekends!")

Today is a weekday

In [ ]:
month = 5
day = 4

match day:
    case 1 | 2 | 3 | 4 | 5 if month == 4:
        print("Today is a week day in April")
    case 1 | 2 | 3 | 4 | 5 if month == 5:
        print("Today is a weekday in May")
    case _:
        print("No match")

Today is a weekday in May

###

### Python While Loops

In [ ]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

In [ ]:
i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

In [ ]:
i = 1
while i < 6:
    i += 1
    if i == 3:
        continue
    print(i)

2
4
5
6

In [ ]:
i = 1
while i < 6:
    print(i)
    i += 1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

### Python For Loops

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

In [ ]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)
    if x == "banana":
        break

apple
banana

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        break
    print(x)

apple

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        continue
    print(x)

apple
cherry

In [ ]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [ ]:
for x in range(2, 6):
    print(x)

2
3
4
5

In [ ]:
for x in range(2, 30, 3):
    print(x)

2
5
8
11
14
17
20
23
26
29

In [ ]:
for x in range(6):
    print(x)
else:
    print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [ ]:
for x in range(6):
    if x == 3:
        break
    print(x)
else:
    print("Finally finished")

0
1
2

In [ ]:
adj = ["red", "big", "cherry"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
cherry apple
cherry banana
cherry cherry

In [ ]:
for x in [0, 1, 2]:
    pass

### Python Functions

In [ ]:
def my_function():
    print("Hello from a function")

In [ ]:
def my_function():
    print("Hello from a function")


my_function()

Hello from a function

In [ ]:
def my_function(fname):
    print(fname + " Refsnes")


my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [ ]:
# This function excepts 2 arguments but get only 1
def my_function(fname, lname):
    print(fname + " " + lname)


my_function("Emil")

TypeError: my_function() missing 1 required positional argument: 'lname'

In [ ]:
# Arbitrary Arguments, *args
# If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.
# This way the function will receive a tuple of arguments, and can access the items accordingly
def my_function(*kids):
    print("The youngest child is " + kids[2])


my_function("Tobias", "Emil", "Linus")

The youngest child is Linus

In [ ]:
def my_function(child1, child2, child3):
    print("The youngest child is " + child1)


my_function(child1="Tobias", child2="Tobias", child3="Linus")

The youngest child is Tobias

In [ ]:
# Arbitrary Keyword Arguments, **kwargs
# If you do not know how many keyword arguments that will be passed into your function, add two asterisk: ** before the parameter name in the function definition.
# This way the function will receive a dictionary of arguments, and can access the items accordingly:
def my_function(**kid):
    print("The youngest child is " + kid["lname"])


my_function(fname="Tobias", lname="Refsnes")

The youngest child is Refsnes

In [ ]:
def my_function(country="Norway"):
    print("I'm from " + country)


my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I'm from Sweden
I'm from India
I'm from Norway
I'm from Brazil

In [1]:
def my_function(food):
    for x in food:
        print(x)


fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [1]:
def my_function(number):
    return 5 * number


print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [3]:
def myfunction():
    pass

In [4]:
def my_function(x, /):
    print(x)


my_function(3)

3

In [6]:
# Without the , / you are actually allowed to use keyword arguments even if the function expects positional arguments.
def my_function(x):
    print(x)


my_function(x=3)

3

In [7]:
# But when adding the , / you will get an error if you try to send a keyword argument.
def my_function(x, /):
    print(x)


my_function(x=3)

TypeError: my_function() got some positional-only arguments passed as keyword arguments: 'x'

In [ ]:
# To specify that a function can have only keyword arguments, add *, before the arguments.
def my_function(*, x):
    print(x)


my_function(x=3)

3

In [9]:
# To specify that a function can have only keyword arguments, add *, before the arguments.
def my_function(*, x):
    print(x)


my_function(3)

TypeError: my_function() takes 0 positional arguments but 1 was given

In [1]:
# Without the *, you are allowed to use positional arguments even if the function expects keyword arguments.
def my_function(x):
    print(x)


my_function(3)

3

In [2]:
def my_function(a, b, /, *, c, d):
    print(a + b + c + d)


my_function(5, 6, c=7, d=8)

26

In [3]:
def tri_recursion(k):
    if k > 0:
        result = k + tri_recursion(k - 1)
        print(result)
    else:
        result = 0
    return result


print("Recursion Example Results:")
tri_recursion(6)

Recursion Example Results:
1
3
6
10
15
21

21

### Python Lambda

In [3]:
x = lambda a: a + 10
print(x(5))

15

In [4]:
x = lambda a, b: a + b
print(x(5, 6))

11

In [5]:
x = lambda a, b, c: a + b + c
print(x(5, 6, 7))

18

In [4]:
def myfunc(n):
    return lambda a: a * n


mydoubler = myfunc(3)
print(mydoubler(11))

33

In [7]:
def myfunc(n):
    return lambda a: a * n


mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

### Python Arrays

In [3]:
cars = ["Ford", "Volvo", "BMW"]

In [2]:
x = cars[0]
x

'Ford'

In [4]:
cars[0] = "Toyota"
cars[0]

'Toyota'

In [5]:
x = len(cars)
x

3

In [6]:
for x in cars:
    print(x)

Toyota
Volvo
BMW

In [8]:
cars.append("Honda")
cars

['Toyota', 'Volvo', 'BMW', 'Honda', 'Honda']

In [9]:
cars.pop()

'Honda'

In [10]:
cars.pop(1)

'Volvo'

In [15]:
cars = ["Ford", "Volvo", "BMW"]

In [16]:
cars.remove("Volvo")
cars

['Ford', 'BMW']

### Python OOP