### Intro

In [2]:
print("Hello World!")

Hello World!

### Get Started

In [ ]:
print("Hello, World!")

In [3]:
import sys

print(sys.version)

3.13.2 (tags/v3.13.2:4f8bb39, Feb  4 2025, 15:23:48) [MSC v.1942 64 bit (AMD64)]

### Syntax

In [23]:
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!

In [24]:
if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [27]:
x = 5
y = "Hello, World!"
#This is a comment.
print("Hello, World!")

Hello, World!

### Comments

In [1]:
#This is a comment.
print("Hello, World!")

Hello, World!

In [ ]:
print("Hello, World!") #This is a comment

In [29]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

In [30]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

In [6]:
"""
This is a comment
written in
more than just one line 
"""
print("Hello World!")

Hello World!

### Variables

In [7]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [8]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [ ]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [9]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [11]:
x = "John"
# is the same as
x = 'John'

In [12]:
a = 4
A = "Sally"
#A will not overwrite a

In [13]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [14]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [15]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [16]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [17]:
x = "Python is awesome"
print(x)

Python is awesome

In [20]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [21]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [19]:
x = 5
y = 10
print(x + y)

15

In [22]:
x = 5
y = "John"
print(x, y)

5 John

In [2]:
x = "awesome"

def myfunc():
    print("Python is " + x)

myfunc()

Python is awesome

In [3]:
x = "awesome"

def myfunc():
    x = "fantastic"
    print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [4]:
def myfunc():
    global x
    x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [5]:
x = "awesome"

def myfunc():
    global x
    x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

### Data Types

In [1]:
x = 5
print(type(x))

<class 'int'>

In [2]:
x = "Hello World"

# Display x:
print(x)

# Display the data type of x:
print(type(x))

Hello World
<class 'str'>

In [3]:
x = 20

# Display x:
print(x)

# Display the data type of x:
print(type(x))

20
<class 'int'>

In [4]:
x = 20.5
# Display x:
print(x)

# Display the data type of x:
print(type(x))

20.5
<class 'float'>

In [5]:
x = 1j
# Display x:
print(x)

# Display the data type of x:
print(type(x))

1j
<class 'complex'>

In [6]:
x = ["apple", "banana", "cherry"]

# Display x:
print(x)

# Display the data type of x:
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [7]:
x = ("apple", "banana", "cherry")

# Display x:
print(x)

# Display the data type of x:
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [8]:
x = range(6)

# Display x:
print(x)

# Display the data type of x:
print(type(x))

range(0, 6)
<class 'range'>

In [9]:
x = {"name" : "John", "age": 36}

# Display x:
print(x)

# Display the data type of x:
print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

In [10]:
x = {"apple", "banana", "cherry"}

# Display x:
print(x)

# Display the data type of x:
print(type(x))

{'apple', 'banana', 'cherry'}
<class 'set'>

In [1]:
x = frozenset({"apple", "banana", "cherry"})

# Display x:
print(x)

# Display the data type of x:
print(type(x))

frozenset({'cherry', 'banana', 'apple'})
<class 'frozenset'>

In [2]:
x = True

# Display x
print(x)

# Display the data type of x:
print(type(x))

True
<class 'bool'>

In [3]:
b = b"Hello"

# Display x:
print(x)

# Display the data type of x:
print(type(x))

True
<class 'bool'>

In [4]:
x = bytearray(5)

# Display x:
print(x)

# Display the data type of x:
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [ ]:
x = memoryview(bytes(5))

# Display x:
print(x)

# Display the data type of x:
print(type(x))

<memory at 0x000001DCB3745C00>
<class 'memoryview'>

In [6]:
x = None

# Display x:
print(x)

# Display the data type of x:
print(type(x))

None
<class 'NoneType'>

In [7]:
x = str("Hello World")
x= int(20)
x = float(20.5)
x = complex(1j)
x = list(("apple", "banana", "cherry"))
x = tuple(("apple", "banana", "cherry"))
x = range(6)
x = dict(name="John", age = 36)
x = set(("apple", "banana", "cherry"))
x = frozenset(("apple", "banana", "cherry"))
x = bool(5)
x = bytes(5)
x = bytearray(5)
x = memoryview(bytes(5))