### Intro

In [2]:
print("Hello World!")

Hello World!

### Get Started

In [ ]:
print("Hello, World!")

In [3]:
import sys

print(sys.version)

3.13.2 (tags/v3.13.2:4f8bb39, Feb  4 2025, 15:23:48) [MSC v.1942 64 bit (AMD64)]

### Syntax

In [23]:
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!

In [24]:
if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [27]:
x = 5
y = "Hello, World!"
#This is a comment.
print("Hello, World!")

Hello, World!

### Comments

In [1]:
#This is a comment.
print("Hello, World!")

Hello, World!

In [ ]:
print("Hello, World!") #This is a comment

In [29]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

In [30]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

In [6]:
"""
This is a comment
written in
more than just one line 
"""
print("Hello World!")

Hello World!

### Variables

In [7]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [8]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [ ]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [9]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [11]:
x = "John"
# is the same as
x = 'John'

In [12]:
a = 4
A = "Sally"
#A will not overwrite a

In [13]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [14]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [15]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [16]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [17]:
x = "Python is awesome"
print(x)

Python is awesome

In [20]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [21]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [19]:
x = 5
y = 10
print(x + y)

15

In [22]:
x = 5
y = "John"
print(x, y)

5 John

In [2]:
x = "awesome"

def myfunc():
    print("Python is " + x)

myfunc()

Python is awesome

In [3]:
x = "awesome"

def myfunc():
    x = "fantastic"
    print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [4]:
def myfunc():
    global x
    x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [5]:
x = "awesome"

def myfunc():
    global x
    x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

### Data Types

In [1]:
x = 5
print(type(x))

<class 'int'>

In [2]:
x = "Hello World"

# Display x:
print(x)

# Display the data type of x:
print(type(x))

Hello World
<class 'str'>

In [3]:
x = 20

# Display x:
print(x)

# Display the data type of x:
print(type(x))

20
<class 'int'>

In [4]:
x = 20.5
# Display x:
print(x)

# Display the data type of x:
print(type(x))

20.5
<class 'float'>

In [5]:
x = 1j
# Display x:
print(x)

# Display the data type of x:
print(type(x))

1j
<class 'complex'>

In [6]:
x = ["apple", "banana", "cherry"]

# Display x:
print(x)

# Display the data type of x:
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [7]:
x = ("apple", "banana", "cherry")

# Display x:
print(x)

# Display the data type of x:
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [8]:
x = range(6)

# Display x:
print(x)

# Display the data type of x:
print(type(x))

range(0, 6)
<class 'range'>

In [9]:
x = {"name" : "John", "age": 36}

# Display x:
print(x)

# Display the data type of x:
print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

In [10]:
x = {"apple", "banana", "cherry"}

# Display x:
print(x)

# Display the data type of x:
print(type(x))

{'apple', 'banana', 'cherry'}
<class 'set'>

In [1]:
x = frozenset({"apple", "banana", "cherry"})

# Display x:
print(x)

# Display the data type of x:
print(type(x))

frozenset({'cherry', 'banana', 'apple'})
<class 'frozenset'>

In [2]:
x = True

# Display x
print(x)

# Display the data type of x:
print(type(x))

True
<class 'bool'>

In [3]:
b = b"Hello"

# Display x:
print(x)

# Display the data type of x:
print(type(x))

True
<class 'bool'>

In [4]:
x = bytearray(5)

# Display x:
print(x)

# Display the data type of x:
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [ ]:
x = memoryview(bytes(5))

# Display x:
print(x)

# Display the data type of x:
print(type(x))

<memory at 0x000001DCB3745C00>
<class 'memoryview'>

In [6]:
x = None

# Display x:
print(x)

# Display the data type of x:
print(type(x))

None
<class 'NoneType'>

In [7]:
x = str("Hello World")
x= int(20)
x = float(20.5)
x = complex(1j)
x = list(("apple", "banana", "cherry"))
x = tuple(("apple", "banana", "cherry"))
x = range(6)
x = dict(name="John", age = 36)
x = set(("apple", "banana", "cherry"))
x = frozenset(("apple", "banana", "cherry"))
x = bool(5)
x = bytes(5)
x = bytearray(5)
x = memoryview(bytes(5))

### Python Numbers

In [1]:
x = 1 # int
y = 2.8 # float
z = 1j # complex

In [2]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [4]:
x = 1
y = 356562222554887711
z= -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [5]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [6]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [7]:
x = 3 +5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [9]:
x = 1 # int
y = 2.8 # float
z = 1j # complex

# Convert from int to float:
a = float(x)

# Convert from float to int:
b = int(y)

# Convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [2]:
import random
print(r.randrange(1,10))

9

### Python Casting

In [3]:
x = int(1) # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z wil be 3

print(x)
print(y)
print(z)

1
2
3

In [5]:
x = float(1) # x will be 1.0
y = float(2.8) # y will be 2.8
z = float("3") # z will be 3.0
w = float("4.2") # w will be 4.2

print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

### Python Strings

In [1]:
print("Hello")
print('Hello')

Hello
Hello

In [2]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [3]:
a = "Hello"
print(a)

Hello

In [5]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [7]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [8]:
a = "Hello, World!"
print(a[1])

e

In [9]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [10]:
a = "Hello, World!"
print(len(a))

13

In [11]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [1]:
txt = "The best things in life are free!"
if "free" in txt:
    print("Yes, 'free' is present.")

Yes, 'free' is present.

In [2]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [3]:
txt = "The best things in life are free!"
if "expensive" not in txt:
    print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [4]:
b = "Hello, World!"
print(b[2:5])

llo

In [6]:
b = "Hello, World!"
print(b[:5])

Hello

In [7]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [8]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [1]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [2]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [3]:
a = " Hello, World!"
print(a.strip())

Hello, World!

In [4]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [5]:
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

In [6]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [9]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [10]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [1]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [3]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [4]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [6]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [7]:
txt = 'It\'s alright.'
print(txt)

It's alright.

In [8]:
txt = "This will insert one \\ (backslash)."
print(txt)

This will insert one \ (backslash).

In [9]:
txt = "Hello\nWorld!"
print(txt)

Hello
World!

In [11]:
txt = "Hello\rWorld!"
print(txt)

World!

In [12]:
txt = "Hello\tWorld!"
print(txt)

Hello	World!

In [13]:
# This example erases one character (backspace):
txt = "Hello \bWorld!"
print(txt)

HelloWorld!

In [14]:
# A backslash followed by three integers will result in a octal value:
txt = "\110\145\154\154\157"
print(txt)

Hello

In [15]:
# A backslash followed by an 'x' and a hex number represents a hex value:
txt = "\x48\x65\x6c\x6c\x6f"
print(txt)

Hello